:root {
  --primary-color: #b4c5c2;
  --secondary-color: #979b9e;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--primary-font);
  font-size: 96px;
  font-weight: bold;
  line-height: 128px;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
}

.btn {
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: medium;
  line-height: 27px;
  padding: 18px 46px;
}

.hero {
  background-color: var(--primary-color);
  height: 900px;
  padding-top: 276px;
  text-align: center;
}
